.btn{
    background-color: #2EA9CE;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 150px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(142, 78, 149);
}
.danger{
    background-color: red;
}
.success{
    background-color: #0AC5B3;
}